*, *::before, *::after {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
:root{
    --hue-neutral:200;
    --hue-wrong:0;
    --hue-correct:145;
}
body {
    --hue: var(--hue-neutral);
    padding:0;
    margin:0;
    display:flex;
    width:100vw;
    height:100vh;
    justify-content: center;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
    font-size: x-large;
    
}
/*
body.correct{
    --hue: var(--hue-correct);
}
body.wrong{
    --hue: var(--hue-wrong);
}
*/
.container {
    width: 800px;
    max-width: 80%;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
}

.btn-grid {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap:10px;
    margin:20px,0;
}

.btn {
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color: hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 15px 15px ;
    margin:5px;
    color:white;
    outline:none;
    font-size: x-large;
    transition-duration: 0.4s;
    
}

.btn:hover {
    border-color:black;
    transform: scale(1.1);
}

.btn:focus {
    background-color:#87bdd8 ;
    
}

/*.btn.correct {
    --hue: var(--hue-correct);
    
    background-color: green;
}
.btn.wrong {
    --hue: var(--hue-wrong);
    
}*/

.start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;

}
.controls {
    display:flex;
    justify-content:center;
    align-items: center;

}
.hide {
    display:none;
}
h2 {
    color:black;
    text-align: center;
}
#question {
    text-align: center;
}

#image {
    width:200px;
    height:300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
   
}
#result-container p {
    text-align: center;
}

